{% extends '/layout.html.twig' %}
{% block button %}
            <button type="button" class="btn btn-warning btn-lg">Mon compte</button>
            {% endblock %}
{% block content %}
<div class="container-wrap">
		
		<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
                    <div class="inner">
<form action="">
<h3>Ajouter un commentaire</h3>
<div class="form-wrapper">
    <label class="text-form">Pseudo</label>
<input type="text" class="form-control">
</div>
<div class="form-wrapper">
<label class="text-form">Commentaire</label>
<form action="#">
  <textarea name="message" rows="10" cols="40" style="width: 380px; height: 220px"></textarea>
  <br>
</form>
<label class="text-form">Note</label>
                    <div class="rating3"><!--
   --><a href="#5" title="Donner 5 étoiles">☆</a><!--
   --><a href="#4" title="Donner 4 étoiles">☆</a><!--
   --><a href="#3" title="Donner 3 étoiles">☆</a><!--
   --><a href="#2" title="Donner 2 étoiles">☆</a><!--
   --><a href="#1" title="Donner 1 étoile">☆</a>
</div>
</div>
<button class="addcom">Ajouter</button>
</form>
</div>
</div>
		</div>  
    
{% endblock %}
