{% extends '/layout.html.twig' %}

{% block content %}
	<div class="container-wrap">
		
		<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
                    <div class="inner">
<form action="{{ path ('user') }}">
<h3>Connexion</h3>
<div class="form-wrapper">
    <label class="text-form">Pseudo</label>
<input type="text" class="form-control">
</div>
<div class="form-wrapper">
<label class="text-form">Mot de passe</label>
<input type="password" class="form-control">
</div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Se souvenir de moi
    </label>
</div>
<button class="register">Connexion</button>
</form>
</div>
</div>
		</div>

	</div>    
    
{% endblock %}
