{% extends '/layout.html.twig' %}

{% block content %}
	<div class="container-wrap">
		
		<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
                    <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/solomon.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Solomon Kane</a></h3>
							<p>Robert E. Howard</p>
			
						</div>
					</div>
				</div>
                            <div class="col-md-4">
								<table class="table table-bordered">
								<thead>
									<tr>
										<th>Catégorie</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Science-Fiction</td>
									</tr>	
                                                                    <thead>
									<tr>
										<th>Titre</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Solomon Kane</td>
									</tr>
									<thead>
									<tr>
										<th>Auteur</th>
									</tr>
									</thead>
									<tr>
										<td>Robert E. Howard</td>
									</tr>
									<thead>
									<tr>
										<th>Editeur</th>
									</tr>
									</thead>
									<tr>
										<td>Bragelonne</td>
									</tr>
									<thead>
									<tr>
										<th>Date de parution</th>
									</tr>
									</thead>
									<tr>
										<td>09/10/2019</td>
									</tr>
									<thead>
									<tr>
										<th>Résumé</th>
									</tr>
									</thead>
									<tr>
										<td>Aventurier errant et vagabond, Solomon Kane traque et tue impitoyablement ses ennemis dans un monde élisabéthain pris de folie : brigands et pirates, mais aussi vampires et morts-vivants. Instrument de Dieu ou puritain fou habité par des forces qui le dépassent, nul ne sait qui il est.</td>
									</tr>
									</tbody>
								</table>
				</div>
                            <div class="col-md-4">
					<div class="services">
						<div class="desc">
							<div>
								<h4 class="media-heading text-uppercase reviews">Mon avis personnel</h4>
								<p class="media-comment2">
									Solomon Kane est un héros assez atypique par rapport aux autres personnages que je connaissais de cet auteur.
									Ce livre consiste en une série de nouvelles et poèmes de niveau assez inégal, mais, malgré tout, j'ai adoré tout lire.
								</p>
								<div class="rating3">
									<a href="#5" title="Donner 5 étoiles">☆</a>
									<a href="#4" title="Donner 4 étoiles">☆</a>
									<a href="#3" title="Donner 3 étoiles">☆</a>
									<a href="#2" title="Donner 2 étoiles">☆</a>
									<a href="#1" title="Donner 1 étoile">☆</a>
								</div>
							</div>
			
						</div>
					</div>
				</div>

                    <div class="clear"></div>
                    
                  

                                               <div class="media-body">
												   <p class="comment">Vos commentaires</p>
                                                   <div class="rating2">
   <a href="#5" title="Donner 5 étoiles">☆</a>
   <a href="#4" title="Donner 4 étoiles">☆</a>
   <a href="#3" title="Donner 3 étoiles">☆</a>
   <a href="#2" title="Donner 2 étoiles">☆</a>
   <a href="#1" title="Donner 1 étoile">☆</a>
</div>
                          <div class="well well-lg">
                              <h4 class="media-heading text-uppercase reviews">Laura</h4>
                              <button type="button" class="btn btn-danger">Signaler</button>
                              <p class="media-comment">
                                J'ai adoré. Je dois être folle. Au vue des notes et autres critiques négatives. De toute façon, il y a tellement de films ayant de bonnes notes que je n'aime pas du tout. Solomon Kane est un excellent divertissement, bien mieux que Gravity, Avatar, Interstellar, et autre film bourré d'incohérence et de personnages. 
                              </p>
                          </div>              
                        </div>
                        <div class="collapse" id="replyOne">
                            <ul class="media-list">
                                <li class="media media-replied">
                                    <a class="pull-left" href="#"></a>
                                    </div>
                    <div class="clear"></div>
                        <div class="media-body">
                                                   <div class="rating2">
   <a href="#5" title="Donner 5 étoiles">☆</a>
   <a href="#4" title="Donner 4 étoiles">☆</a>
   <a href="#3" title="Donner 3 étoiles">☆</a>
   <a href="#2" title="Donner 2 étoiles">☆</a>
   <a href="#1" title="Donner 1 étoile">☆</a>
</div>
                          <div class="well well-lg">
                              <h4 class="media-heading text-uppercase reviews">Hulk</h4>
                              <button type="button" class="btn btn-danger">Signaler</button>
                              <p class="media-comment">
                                Personnellement, je n'en suis pas très fan.. :(
                              </p>
                          </div>              
                        </div>
                        <div class="collapse" id="replyOne">
                            <ul class="media-list">
                                <li class="media media-replied">
                                    <a class="pull-left" href="#"></a>
                                    </div>
                        
         
                    
                    <a href="addcom.html"> <input class="styled3" type="button" value="Ajouter un commentaire"> </a>
              
		</div>

	</div>
    
{% endblock %}
