{% extends '/layout.html.twig' %}
{% block button %}
            <button type="button" class="btn btn-warning btn-lg">Mon compte</button>
            {% endblock %}
{% block content %}
	<div class="container-wrap">
		<p class="big-words">Profil utilisateur</p>
		<div id="fh5co-counter" class="fh5co-counters">
                    <a href="{{ path ('user') }}"><button type="button" class="btn btn-secondary">Profil</button></a>
                    <a href="{{ path ('password') }}"><button type="button" class="btn btn-secondary">Mot de passe</button></a>
                    <a href="{{ path ('posts') }}"><button type="button" class="btn btn-secondary">Mes posts</button></a>
		<div id="fh5co-services" class="fh5co-light-grey">
                    
                    <div class="inner2">
    <div class="row my-2">
            
                <div class="tab-pane active" id="profile">
                    <div class="row">
                    <!--/row-->
                </div>
             
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="mescoms">
                              <h4 class="media-heading text-uppercase reviews">Laura</h4>
                              <p class="media-comment">
                                J'ai adoré. Je dois être folle. Au vue des notes et autres critiques négatives. De toute façon, il y a tellement de films ayant de bonnes notes que je n'aime pas du tout. Solomon Kane est un excellent divertissement, bien mieux que Gravity, Avatar, Interstellar, et autre film bourré d'incohérence et de personnages. 
                              </p>
                          </div>              
                       
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" style="background-color: #DC143C; color: white;" value="Supprimer">
                            </div>
                        </div>
                        <div class="mescoms">
                              <h4 class="media-heading text-uppercase reviews">Laura</h4>
                              <p class="media-comment">
                                J'ai adoré. Je dois être folle. Au vue des notes et autres critiques négatives. De toute façon, il y a tellement de films ayant de bonnes notes que je n'aime pas du tout. Solomon Kane est un excellent divertissement, bien mieux que Gravity, Avatar, Interstellar, et autre film bourré d'incohérence et de personnages. 
                              </p>
                          </div>              
                       
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" style="background-color: #DC143C; color: white;" value="Supprimer">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
</div>

		</div>

	</div><!-- END container-wrap -->
                </div>
	<!-- END container-wrap -->
	</div>  
    
{% endblock %}
