{% extends '/layout.html.twig' %}

{% block content %}
			<div class="container-wrap">
            
            
            <p class="big-words">Votre recherche</p>
            <div class="search2">
                <form action="search" method="get" class="form-inline">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Je cherche...">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-info"><span class="fa fa-search"></span>
                  Chercher
                </button>
              </div>
            </div>
          </form>
            </div>
            
        <div class="container2">
      
	<div class="row" id="filter">
            <p style="text-align: left;margin-left: 107px;font-size: 20px;margin-top: -20px;">Recherche avancée</p>
		<form>
			<div class="form-group col-sm-3 col-xs-6">
				<select id="single" class="form-control select2-single">
                                    <option value="" hidden="">Auteur</option>
<optgroup label="Hommes">
	<option value="SK">Stephen King</option>
	<option value="RH">Robert E.Howard</option>
</optgroup>
<optgroup label="Femmes">
	<option value="LM">Liane Moriarty</option>
	<option value="AD">Arkansas Dupont</option>
</optgroup>
<optgroup label="Western">
	<option value="GM">Georges Mickael</option>
	<option value="LC">Laetitia Colombani</option>
	<option value="FD">Florida Denville</option>
</optgroup>

				</select>
				<!--<select data-filter="make" class="filter-make filter form-control">
					<option value="" hidden>Auteur</option>
                                        <option value="">Stephen King</option>
                                        <option value="">Robert E.Howard</option>
                                        <option value="">Liane Moriarty</option>
                                        <option value="">Laetitia Colombani</option>
					<option value="">Tous les auteurs</option>
				</select> -->
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="model" class="filter-model filter form-control">
					<option value="" hidden>Nombre de pages</option>
                                        <option value="">0-100</option>
                                        <option value="">100-500</option>
					<option value="">Sans importance</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="type" class="filter-type filter form-control">
                                    <option value="" hidden>Catégories</option>
                                    <option value="">Guerre</option>
                                    <option value="">Science-fiction</option>
                                    <option value="">Romance</option>
                                    <option value="">Classiques</option>
					<option value="">Toutes les catégories</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="price" class="filter-price filter form-control">
                                    <option value="" hidden>Note</option>
					<option value="">Les mieux notés</option>
                                        <option value="">Les moins bien notés</option>
                                        <option value="">Sans importance</option>
				</select>
			</div>
		</form>
	</div>
	<div class="row" id="products">
		
	</div>
</div>
          
            
            
<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">

			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="pagelivre.html" class="img-holder"><img class="img-responsive" src="images/solomon.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Solomon Kane</a></h3>
							<p>Robert E. Howard</p>
			
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/tresse.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">La tresse</a></h3>
							<p>Laetitia Colombani</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/unpeubcp.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Un peu, beaucoup, à la folie</a></h3>
							<p>Liane Moriarty</p>
						</div>
					</div>
				</div>
                          
    
			</div>
		</div>

	</div><!-- END container-wrap -->

	<!-- END container-wrap -->
	</div>
    
{% endblock %}
