{% extends '/layout.html.twig' %}
{% block button %}
            <button type="button" class="btn btn-warning btn-lg">Mon compte</button>
            {% endblock %}
{% block content %}
		<div class="container-wrap">
		<p class="big-words">Profil utilisateur</p>
		<div id="fh5co-counter" class="fh5co-counters">
                            
                    <a href="{{ path ('user') }}"><button type="button" class="btn btn-secondary">Profil</button></a>
                    <a href="{{ path ('password') }}"><button type="button" class="btn btn-secondary">Mot de passe</button></a>
                    <a href="{{ path ('posts') }}"><button type="button" class="btn btn-secondary">Mes posts</button></a>
     
		<div id="fh5co-services" class="fh5co-light-grey">
                    
                    <div class="inner3">
    <div class="row my-2">
            
                <div class="tab-pane active" id="profile">
                    <div class="row">
                    <!--/row-->
                </div>
             
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="votre-email@gmail.com">
                            </div>
                        </div>
                      
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Pseudo</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Nounou" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" style="background-color: #DC143C; color: white;" value="Cancel">
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
</div>

		</div>

	</div><!-- END container-wrap -->
                </div>
<!-- END container-wrap -->
	</div>
    
{% endblock %}
