{% extends 'base.html.twig' %}
{% block stylesheets %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
        {% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet"
	>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}
    <header>
        <nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-md-12 col-offset-0 text-center">
						<div id="fh5co-logo"><a href="{{ path ('home') }}">Bibe'Lau</a>
                                                
          <form action="{{ path ('search') }}" method="get" class="form-inline">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Je cherche..." >
             
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-info"><span class="fa fa-search"></span>
                      Chercher
                      </button>
              </div>
            </div>
          </form>
          {% block button %}
            <a href="{{ path ('connect') }}"> <input class="styled2" type="button" value="Se connecter"> </a>
            <a href="{{ path ('signin') }}"> <input class="styled" type="button" value="S'inscrire"> </a>
            {% endblock %}
                                                   
                                                </div>
					</div>
                                    {% block navigation %}
					<div class="col-md-12 col-md-offset-0 text-center menu-1">
						<ul>
							<li><a href="{{ path ('home') }}">Home</a></li>
							<li><a href="{{ path ('science') }}">Science-Fiction</a></li>
							<li><a href="{{ path ('guerre') }}">Guerre</a></li>
							<li><a href="{{ path ('romance') }}">Romance</a></li>
							<li><a href="{{ path ('classique') }}">Classiques</a></li>
						</ul>
					</div>
                                    {% endblock %}
				</div>
				
			</div>
		</div>
        </nav>
    

       {% block content %}
    {% endblock %}
    
    </header>
   
        
    </div>
    <div class="container-wrap">
        
		<footer id="fh5co-footer" role="contentinfo">
			
		</footer>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
        <script src="js/modernizr-2.6.2.min.js"></script>
{% endblock %}